<header class="hero">
  <h2 class="hero-title">
    {{pageTitle}}
  </h2>
</header>
<md-card class="markdown-body">
  <div class="padding">
    <button md-raised-button class="md-primary" style="float: right;">New Order</button>
  </div>
  <table [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5" (mfSelectedEntities)="setSelectedEntities($event)">
    <thead>
        <tr>
            <!-- <th>
                <mfRowSelectorHead></mfRowSelectorHead>
            </th> -->
            <th>
                <mfDefaultSorter by="orderNumber">Order Number</mfDefaultSorter>
            </th>
            <th>
                <mfDefaultSorter by="orderDate">Order Date</mfDefaultSorter>
            </th>
            <th>
                <mfDefaultSorter by="orderStatus">Order Status</mfDefaultSorter>
            </th>
            <th>
                <mfDefaultSorter by="dateShipped">Date Shipped</mfDefaultSorter>
            </th>
            <th>
                <mfDefaultSorter by="item">Item</mfDefaultSorter>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of mf.data; let ndx = index">
            <!-- <td><mfRowSelector [entity]="item" [checkboxId]="ndx"></mfRowSelector></td> -->
            <td>{{item.orderNumber}}</td>
            <td>{{item.orderDate}}</td>
            <td>{{item.orderStatus}}</td>
            <td>{{item.dateShipped}}</td>
            <td>{{item.item}}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
            </td>
        </tr>
    </tfoot>
</table>
</md-card>
